a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.md_mask {
  width: 100%;
  height: 100%;
  -moz-transition: opacity .5s linear 0s;
  -webkit-transition: opacity .5s linear 0s;
  -o-transition: opacity .5s linear 0s;
  -ms-transition: opacity .5s linear 0s;
  transition: opacity .5s linear 0s;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  visibility: hidden;
  background: #000;
  opacity: 0;
  z-index: 1000;
}

.md_mask.show {
  visibility: visible;
  opacity: 0.25;
}

.md_panel {
  -moz-transition: -moz-transform .3s ease-in-out 0s;
  -ms-transition: -ms-transform .3s ease-in-out 0s;
  -webkit-transition: -webkit-transform .3s ease-in-out 0s;
  -o-transition: -o-transform .3s ease-in-out 0s;
  transition: transform .3s ease-in-out 0s;
  -ms-transform: translate3d(0, 100%, 0);
  -moz-transform: translate3d(0, 100%, 0);
  -webkit-transform: translate3d(0, 100%, 0);
  -o-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1100;
  background-color: #F7F7F7;
  font-family: Tahoma, arial, verdana, sans-serif;
  -webkit-user-select: none;
}

.md_panel.show {
  -ms-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.md_panel a {
  text-decoration: none;
}

.md_selectarea {
  display: inline-block;
  width: 50%;
  position: relative;
}

.md_head {
  height: 40px;
  line-height: 40px;
  background-color: #874546;
}

.md_body {
  position: relative;
  height: 7.4rem;
}

.md_headtext {
  display: inline-block;
  width: 100%;
  text-align: center;
  /*font-size: 1.125em;*/
  color: #fff;
  font-size: 20px;
}

.md_prev,
.md_next {
  position: absolute;
  top: 0;
  font-family: arial;
  font-size: 1.6em;
  display: inline-block;
  width: 40px;
  height: 40px;
  text-align: center;
}

.md_prev {
  left: 0;
}
.md_next {
  right: 0;
}
.md_prev:active,
.md_next:active {
    border-radius: 100%;
    background-color: #dfdfdf;
}
.md_prev:after,
.md_next:after {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
    content: "\e67f";
    display: block;
    width: 100%;
    height: 100%;
    color: #eee;
}
.md_prev:after {
    -webkit-transform: rotate(180deg);
}


.md_weekarea {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  position: relative;
}
.md_weekarea:first-child:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 10rem;
    height: 1px;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    background: #bbb;
}

.md_weekarea li,
.md_datearea li {
  float: left;
  /*width: 14.2857%;*/
  width: 1rem;
  margin: 0 .214285rem;
  height: 1.2rem;
  /*font-size: .8125em;*/
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  /*line-height: 3.31em;*/
  line-height: 1.2rem;
}

.md_weekarea li,
.md_prev,
.md_next {
  color: #70a3c0;
  font-weight: 600;

}
.md_weekarea li:first-child,
.md_weekarea li:last-child {
  color: #bb2910;
}
.md_datearea li {
    height: 1rem;
    line-height: 1rem;
}
.md_datearea li:active {
    background-color: #dfdfdf;
    border-radius: 100%;
}

.md_datearea {
  position: absolute;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform .2s ease-in;
  -webkit-transform: translate3d(0, 0, 0);
  padding-top: .2rem;
}

.md_datearea li.current {
  background-color: #872F9F;
  color: #fff!important;
  border-radius: 100%;
  
  position: relative;
}
/*.md_datearea li.current:after {
    content: "";
    display: block;
    width: .8rem;
    height: .8rem;
    color: #eee;
    position: absolute;
    left: 50%;
    top: 50%;
    border: 1px solid #872F9F;
    border-radius: 100%;
    box-sizing: border-box;
    -webkit-transform: translate(-50%,-50%);
    background-color: #ff0;
}*/

.md_datearea li:nth-child(7n),
.md_datearea li:nth-child(7n+1) {
  color: #f00;
}
.md_datearea li span {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.md_datearea li span.current {
  background-color: #872F9F;
  color: #FFF;
}

.md_foot {
  margin-top: 0.5em;
  margin-bottom: 1em;
  text-align: center;
  display: none;
}

.md_ok,
.md_cancel {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 4em;
  height: 2.5em;
  line-height: 2.5em;
  border-radius: 4px;
}

.md_ok {
  color: #fff;
  background-color: #872F9F;
}

.md_cancel {
  color: #fff;
  margin-left: 1em;
  background-color: #C6C6C6;
}

.out_left {
  -webkit-transform: translate3d(-100%, 0, 0);
}

.out_right {
  -webkit-transform: translate3d(100%, 0, 0);
}

.prevdate,
.nextdate {
  color: #999!important;
}

.disabled {
  color: #C6C6C6;
}